/* 
li:matches(:nth-child(even), .target) {
  background-color: aquamarine;
}
 */

li:not(.target) {
  background-color: blueviolet;
}

/* @custom-media --ipad (max-width: 850px); */
@custom-media --ipad (400px <= width < 850px);

@media (--ipad) {
  body {
    background-color: chartreuse;
  }
}

h1 {
  color: #006400;
}

h1:hover {
  color: color-mod(#006400 lightness(30%));
}

h2 {
  color: gray(80);
  font-family: system-ui;
}

main {
  background-color: aqua;
  & section {
    background-color: white;
    width: 500px;
    & li {
      color: black;
      &:hover {
        color: gray(50);
      }
    }
  }
}
